.container {
  position: relative;
}

.child{
  display:flex;
  /* place-items: center; */
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 50%;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}